@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="panel panel-danger">
    <div class="panel-heading text-left"><h4>An error occurred</h4></div>
    <div class="panel-body">
        @if (Model.StatusCode == 429)
        {
            <p>
                <strong>You have sent too many requests, please try again later</strong>
            </p>
        }
        else
        {
            <p>
                <strong>Please contact IT department</strong>
            </p>
        }
        <a class="nav-link pt-5" asp-action="Index">Return to main page</a>
    </div>
</div>
