@model string

<h1>Hi, You will be searching @Model </h1>

<form asp-action="Search">
    <p>
        <label>Keywords:</label>
        <input name="keywords" placeholder="Enter keywords to search" />
    </p>
    <p>
        <label>URL:</label>
        <input name="url" placeholder="Enter an URL" />
    </p>
    <button type="submit">Search</button>
</form>